# Configurações do Servidor
PORT=3000

# Chave de Autenticação da API
API_KEY=sua_chave_secreta_aqui

# Configurações do Redis
# Para rodar via Docker Compose, use REDIS_HOST=redis
# Para rodar localmente fora do Docker, use REDIS_HOST=localhost
REDIS_HOST=localhost
REDIS_PORT=6379
